* {
	box-sizing: border-box;
	outline: none;
}

.cf:before, .cf:after {
    content: " ";
    display: table;
}

.cf:after {
    clear: both;
}

body{
	font-family: Arial, sans-serif;
	font-weight: 400;
	background: #ee3954 url(../img/background.jpg) no-repeat;
	background-size: cover;
}

a {
	color: #ed5e77;
	text-decoration: none;
}

a:hover {
	color: #ed5e77;
	text-decoration: underline;
}

fieldset {
	border: none; 
	padding: 0 23px 0px 30px; 
}

input[type="text"] {
	background-color: #f0f0f0;
	color: #7a7b7f;
	font-size: 14px;
	line-height: 1.4;
	border-radius: 4px;
	border: none;
	padding: 7px 0 7px 15px;

}
/*Header*/

.pf-form {
	width: 460px;
	background-color: #fff;
	border-radius: 5px;
	margin: 60px auto 70px;
	min-height: 200px;
}

.pf-form__header {
	padding: 30px 30px 15px 30px;
}

.pf-form__header-icon {
	width: 5%;
	float: left;
}

.pf-form__header-title {
	width: 95%;
	float: left;
}

.pf-form__img-header {
	margin: 0px;
}

.pf-form_header-titles {
	font-size: 24px;
	color: #1b1c1d;
	font-weight: 700;
	padding-left: 10px;
	padding-top: 4px;
	margin: 0px;
	line-height: 0.8;
	padding-bottom: 15px; 
}

.pf-form__header-text {
	color: #7a7b7f;
	font-size: 13px;
	line-height: 1.5;

}
/*Form*/

.pf-form__first-name {
	margin: 0px;
	width: 46%;

}

.pf-form__last-name {
	width: 46%;
	margin-left: 6%;
}

.pf-form__email {
	width: 100%;
	margin-top: 15px;
}

.pf-form__password {
	width: 100%;
	margin-top: 15px;
}

.pf-form__button {
	width: 100%;
	background-color: #ea355a;
	color: #fff;
	font-size: 18px;
	line-height: 1.1;
	font-weight: 700;
	border-radius: 5px;
	border: none;
	border-bottom: 2px solid #bd1962;
	margin-top: 15px;
	padding: 15px 0 15px 0;
	cursor: pointer;
}

.pf-form__button-text {
	color: #7a7b7f;
	font-size: 12px;
	line-height: 1.6;
	padding-bottom: 30px;
}





/* Layout */
.ba-container{
	padding-left: 20px;
	padding-right: 20px;
	max-width: 1200px;
}


/* Typography */
a,
input[type="submit"],
input[type="button"],
button{
	-webkit-transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
	-moz-transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
	transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
}
input[type="submit"],
input[type="button"],
button,
.ba-button{
	display: inline-block;
}
input[type="submit"]:hover,
input[type="button"]:hover,
button:hover,
.ba-button:hover{

}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
input[type="tel"],
textarea,
select {

	-webkit-transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
	-moz-transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
	transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
textarea:focus,
select:focus {

}
textarea {

}
